<h4>this is the angular firebase realtime</h4>
้
<hr />

<div class="container">
  <div class="col">
    <div class="from-group">
      <div class="co-lg-6">
        <label>ID</label>
        <input class="from-control text-center" readonly [(ngModel)]='_id' />
      </div>
    </div>
    <div class="from-group">
      <div class="co-lg-6">
        <label>Name</label>
        <input class="from-control" [(ngModel)]='_name'/>
      </div>
    </div>
    <div class="from-group">
      <div class="co-lg-6">
        <label>Phone</label>
        <input class="from-control" [(ngModel)]='_phone'/>
        <br/>
        <button (click)='addUser()'>add</button>
      </div>
    </div>
  </div>
  <div class="col">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#ID</th>
          <th>Identify</th>
          <th>Name</th>
          <th>Phone</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of _usersList; let i = index" >
          <td>{{i+1}}</td>
          <td>{{user.id}}</td>
          <td>{{user.name}}</td>
          <td>{{user.phone}}</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

<ul>
  <li *ngFor="let user of _usersList; let i = index">
    ID : {{ user.id }}, Name : {{ user.name }},phone : {{ user.phone }}
  </li>
</ul>
